
<!DOCTYPE html>

<html>  
    <head>
        <script type="text/javascript">
        window.onload = function() {
            var eSelect = document.getElementById('weap');
            
            eSelect.onchange = function() {
                if(eSelect.value === "LBG") {
                    document.getElementById('edmg').value = 0;
                    document.getElementById('sharp').value = "gun";
                } 
             };
          };
          </script>
    </head>
   <body>
      <form action = "https://bb426b8b55ff4855805b74cae4a607ff.vfs.cloud9.us-east-2.amazonaws.com/mhw" method = "post">  
         <p>Select Weapon:</p>
         <p><select name = "weap" id = "weap">
           <option value="GS">Greatsword</option>
           <option value="LS">Longsword</option>
           <option value="hammer">Hammer</option>
           <option value="horn">Hunting Horn</option>
           <option value="LanceGL">Lance/Gunlance</option>
           <option value="SNS">Sword and Shield</option>
           <option value="DB">Dual Blades</option>
           <option value="SA">Switch Axe</option>
           <option value="CB">Charge Blade</option>
           <option value="IG">Insect Glaive</option>
           <option value="LBG">Light Bowgun</option>
           <option value="HBG">Heavy Bowgun</option>
           <option value="Bow">Bow</option>
           
         </select></p>
         <p>Enter Damage:</p>
         <p><input type = "number" name = "dmg" id = "dmg"/></p>
         <p>Enter Element:</p>
         <p><input type = "number" name = "edmg" id = "edmg"/></p>
         <p>Select Sharpness:</p>
         <p><select name = "sharp" id = "sharp">
           <option value="green">Green</option>
           <option value="blue">Blue</option>
           <option value="white">White</option>
           <option value="purple">Purple</option>
           <option value="gun">Bowgun</option>
         </select></p>
         <p><input type = "submit" value = "submit" /></p>
    </table>  
      </form>  
   </body>  
</html>