<html>  
   <body>  
      <form action = "https://bb426b8b55ff4855805b74cae4a607ff.vfs.cloud9.us-east-2.amazonaws.com/mhw" method = "post">  
         <p>Enter Weapon:</p>
         <p><input type = "text" name = "weap" /></p>
         <p>Enter Damage:</p>
         <p><input type = "number" name = "dmg" /></p>
         <p>Enter Element:</p>
         <p><input type = "number" name = "edmg" /></p>
         <p>Enter Sharpness:</p>
         <p><input type = "text" name = "sharp" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </table>  
      </form>  
   </body>  
</html>