<script type="text/javascript">
window.onload = function() {
    var eSelect = document.getElementById('weap');
    
    eSelect.onchange = function() {
        if(eSelect.value === "LBG") {
            document.getElementById('edmg').value = 0;
            document.getElementById('sharp').value = "gun";
        } 
     };
  };
  </script>
<a href="#" onClick="autoFill(); return true;" >Click to Autofill</a>
<form>
  <p>
    <label>Text Input: </label>
    <input type="text" id="input1">
  </p>
  <p>
    <label>Dropdown Input: </label>
<p>Select Weapon:</p>
         <p><select name = "weap" id = "weap">
           <option value="GS">Greatsword</option>
           <option value="LS">Longsword</option>
           <option value="hammer">Hammer</option>
           <option value="horn">Hunting Horn</option>
           <option value="LanceGL">Lance/Gunlance</option>
           <option value="SNS">Sword and Shield</option>
           <option value="DB">Dual Blades</option>
           <option value="SA">Switch Axe</option>
           <option value="CB">Charge Blade</option>
           <option value="IG">Insect Glaive</option>
           <option value="LBG">Light Bowgun</option>
           <option value="HBG">Heavy Bowgun</option>
           <option value="Bow">Bow</option>
           
         </select></p>
  </p>
  <p>
    <label>Radio Input: </label>
       <input type="radio" name="input3" value="Radio1">First Radio
       <input type="radio" name="input3" value="Radio2">Second Radio
       <input type="radio" name="input3" value="Radio3">Third Radio
  </p>
  <p>Enter Element:</p>
         <p><input type = "number" name = "edmg" id = "edmg"/></p>
         <p>Select Sharpness:</p>
         <p><select name = "sharp" id = "sharp">
           <option value="green">Green</option>
           <option value="blue">Blue</option>
           <option value="white">White</option>
           <option value="gun">Bowgun</option>
         </select></p>
</form>